

	<!--Header-->
	<header id="header">





    <!--Main header-->
    <div class="main-header">

    <!--Profile image-->
    <figure class="img-profile">
      <img src="assets/profile.jpg" alt="">

      <figcaption class="name-profile">
        <span>Eyad hisham <sup>®</sup></span>
      </figcaption>

    </figure>
    <!--End profile image-->



        <!--Main navigation-->
          <nav id="main-nav" class="main-nav clearfix tabbed">

          <ul>
            <li class="active"><a href="#about" class="active"><fa-icon class="simple-icon" [icon]="faUser"></fa-icon>About</a></li>
            <li class=""><a href="#portfolio" class=""><fa-icon  class="simple-icon" [icon]="faCamera"></fa-icon>Portfolio</a></li>
            <li class=""><a href="#contact" class=""><fa-icon  class="simple-icon" [icon]="faPhone"></fa-icon>Contact</a></li>
          </ul>

          </nav>
        <!--End main navigation-->




  </div>
  <!--End main header-->

  <div class="bottom-header bgWhite ofsTSmall ofsBSmall tCenter">
    <ul class="social">
    <li><a href="#"><img src="assets/github.png" alt="" ></a></li>
    <li><a href="#"><img src="assets/linkedin.png" alt="" ></a></li>
    <li><a href="#"><i class="icon-linkedin"></i></a></li>


  </ul>

  <p>© 2022 Eyad hisham</p>

  </div>




</header>
<!--End  header-->


