<section id="about" class="bgWhite ofsInBottom active" style="display: block">
  <!--About -->
  <div class="about">
    <!--Main title-->

    <div class="main-title">
      <h1>who am i</h1>
      <div class="divider">
        <div class="zigzag large clearfix" data-svg-drawing="yes">
          <svg
            xml:space="preserve"
            viewBox="0 0 69.172 14.975"
            width="37"
            height="28"
            y="0px"
            x="0px"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
          >
            <path
              d="M1.357,12.26 10.807,2.81 20.328,12.332
29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
              style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0"
            ></path>
          </svg>
        </div>
      </div>
    </div>

    <!--End main title-->

    <!--Content-->
    <div class="content">
      <!--Block content-->
      <div class="block-content margBSmall">
        <div class="profile margBSmall">
          <h1>Eyad hisham</h1>
          <h3>Software Engineer</h3>
        </div>

        <!--Row-->
        <div class="row">
          <div class="col-md-6">
            <p>
              I'm a Software Engineer, I worked in many development roles such
              as developer, business analyst, project manager, product owner and
              even account manager. I created many commercial apps in wide
              variety of platforms/industries/domains. I have built 6+
              commercial mobile apps, 200+ Photoshop scripts and 7+ commercial
              web systems.
            </p>
          </div>

          <div class="col-md-6">
            <p>
              If you have the link to this online cv, this probably means i am
              looking for a job in any of the following position. Flutter lead
            </p>
          </div>
        </div>
        <!--End row-->
      </div>
      <!--End block content-->

      <!--Block content-->
      <div class="block-content">
        <div class="info">
          <!--Row-->
          <div class="row">
            <div class="col-md-6">
              <ul class="info-list clearfix">
                <li>
                  <span class="inf">Name </span>
                  <span class="value">Eyad Hisham</span>
                </li>
                <li>
                  <span class="inf">Date of birth</span>
                  <span class="value"> January 10, 1996 </span>
                </li>
                <li>
                  <span class="inf">Address</span>
                  <span class="value"> Nasr city - Cairo - Egypt</span>
                </li>
              </ul>
            </div>

            <div class="col-md-6">
              <ul class="info-list">
                <li>
                  <span class="inf">Email</span>
                  <span class="value">eyadhisham@gmail.com</span>
                </li>
                <li>
                  <span class="inf">Phone</span>
                  <span class="value"> +20 11 000 990 39 </span>
                </li>
                <li>
                  <span class="inf">Discord</span>
                  <span class="value">Eyad#5389</span>
                </li>
              </ul>
            </div>
          </div>
          <!--End row-->
        </div>
      </div>
      <!--End block content-->
    </div>
    <!--End content-->

    <!--Main title-->

    <div class="main-title">
      <h1>Technologies I use</h1>
      <div class="divider">
        <div class="zigzag large clearfix" data-svg-drawing="yes">
          <svg
            xml:space="preserve"
            viewBox="0 0 69.172 14.975"
            width="37"
            height="28"
            y="0px"
            x="0px"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
          >
            <path
              d="M1.357,12.26 10.807,2.81 20.328,12.332
29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
              style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0"
            ></path>
          </svg>
        </div>
      </div>
    </div>

    <!--End main title-->

    <!--Content-->
    <div class="content pb-0">
      <!--Block content-->
      <div class="block-content">
        <!--Services-->
        <div class="services">
          <!--Row-->
          <div class="row">
            <!--Block-->
            <div class="block service tCenter">
              <ng-container *ngFor="let tech of technologies; let i = index">
                <div
                  class="col-md-4 d-flex justify-content-center flex-column align-items-center"
                >
                  <div class="ico">
                    <img [src]="tech.icon" alt="" />
                  </div>

                  <div class="det">
                    <h3>{{ tech.name }}</h3>
                    <p>
                      {{ tech.desc }}
                    </p>
                  </div>
                </div>
              </ng-container>
            </div>
            <!--End block-->
          </div>
          <!--End row-->
        </div>
        <!--End servcices-->
      </div>
      <!--End block content-->
    </div>
    <!--End content-->

    <!--Main title-->

    <div class="main-title pt-0">
      <h1>experience</h1>
      <div class="divider">
        <div class="zigzag large clearfix" data-svg-drawing="yes">
          <svg
            xml:space="preserve"
            viewBox="0 0 69.172 14.975"
            width="37"
            height="28"
            y="0px"
            x="0px"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
          >
            <path
              d="M1.357,12.26 10.807,2.81 20.328,12.332
29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
              style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0"
            ></path>
          </svg>
        </div>
      </div>
    </div>

    <!--End main title-->

    <!--Content-->
    <div class="content ">
      <!--Block content-->
      <ng-container *ngFor="let experience of experience">
        <div class="block-content mb-4">
          <!--Timeline-->
          <div class="timeline experience">
            <!--Row-->
            <div class="row">
              <div class="col-md-12">
                <div class="company">
                  <h4>{{ experience.company }}</h4>
                  <h6>{{ experience.duration }}</h6>
                </div>
                <!--Experience holder-->
                <div class="exp-holder margTop">
                  <!--Experience-->
                  <ng-container *ngFor="let activity of experience.activities">
                    <div class="exp">
                      <div class="hgroup">
                        <h4>{{ activity.title }}</h4>
                      </div>
                      <p>
                        {{ activity.desc }}
                      </p>
                    </div>
                  </ng-container>
                  <!--End experience-->
                </div>
                <!--End experience holder-->
              </div>
            </div>
            <!--End row-->
          </div>
          <!--End timeline-->
        </div>
      </ng-container>
      <!--End block content-->
    </div>
    <!--End content-->

    <!--Main title-->

    <div class="main-title">
      <h1>education</h1>
      <div class="divider">
        <div class="zigzag large clearfix" data-svg-drawing="yes">
          <svg fill="#000000" height="28px" width="37px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 512 512" xml:space="preserve">
          <g>
            <g>
              <path d="M476.294,126.453H348.813v-22.251c0-22.589-18.378-40.967-40.967-40.967H204.154c-22.589,0-40.967,18.378-40.967,40.967
                v22.251H35.706C16.018,126.453,0,142.471,0,162.158v250.9c0,19.689,16.018,35.706,35.706,35.706h440.587
                c19.689,0,35.706-16.018,35.706-35.706v-250.9C512,142.471,495.982,126.453,476.294,126.453z M183.586,104.202
                c0-11.342,9.227-20.569,20.569-20.569h103.691c11.341,0,20.569,9.227,20.569,20.569v22.251H183.586V104.202z M491.602,413.059
                c0,8.441-6.867,15.308-15.308,15.308H35.706c-8.441,0-15.308-6.866-15.308-15.308V216.248L176.992,292.2
                c3.174,19.356,20.012,34.174,40.251,34.174h77.514c20.239,0,37.077-14.818,40.251-34.174l97.809-47.442
                c5.068-2.458,7.183-8.559,4.725-13.627c-2.457-5.069-8.558-7.185-13.627-4.725l-91.205,44.238
                c-5.974-15.128-20.729-25.863-37.953-25.863h-77.514c-17.224,0-31.98,10.736-37.953,25.863L20.398,193.577v-31.419
                c0-8.44,6.867-15.307,15.308-15.307h440.587c8.44,0,15.308,6.866,15.308,15.307V413.059z M196.845,285.578
                c0-11.248,9.151-20.398,20.398-20.398h77.514c11.248,0,20.398,9.151,20.398,20.398s-9.151,20.398-20.398,20.398h-77.514
                C205.995,305.976,196.845,296.825,196.845,285.578z"/>
            </g>
          </g>
          <g>
            <g>
              <path d="M477.458,211.773c-2.457-5.07-8.559-7.183-13.627-4.727l-6.258,3.035c-5.069,2.458-7.184,8.56-4.727,13.627
                c1.763,3.635,5.399,5.751,9.184,5.751c1.493,0,3.01-0.328,4.443-1.024l6.258-3.035C477.8,222.942,479.915,216.84,477.458,211.773z
                "/>
            </g>
          </g>
          </svg>
        </div>
      </div>
    </div>

    <!--End main title-->

    <!--Content-->
    <div class="content">
      <!--Block content-->
      <div class="block-content">
        <!--Timeline-->
        <div class="timeline education">
          <!--Row-->
          <div class="row">
            <div class="col-md-12">
              <!--Experience holder-->
              <div class="exp-holder margTop">
                <!--Experience-->
                <div class="exp">
                  <div class="hgroup">
                    <h4>Bachelor Degree – Computer science</h4>
                    <h6><i class="icon-calendar"></i>2013 - 2017</h6>
                  </div>
                  <p>
                    Higher Technological Institute
                    <br />
                    GPA: 3.0
                  </p>
                </div>
                <!--End experience-->
              </div>
              <!--End experience holder-->
            </div>
          </div>
          <!--End row-->
        </div>
        <!--End timeline-->
      </div>
      <!--End block content-->
    </div>
    <!--End content-->

    <!--Button-->
    <div class="button margTop ofsInTop tCenter">
      <div class="divider">
        <div class="zigzag large clearfix" data-svg-drawing="yes">
          <svg
            xml:space="preserve"
            viewBox="0 0 69.172 14.975"
            width="37"
            height="28"
            y="0px"
            x="0px"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
          >
            <path
              d="M1.357,12.26 10.807,2.81 20.328,12.332
29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
              style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0"
            ></path>
          </svg>
        </div>
      </div>

      <!--Row-->
      <div class="row">
        <div class="col-md-12">
          <a href="#" class="animated-button1" (click)="downloadFile()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Download my cv
          </a>
        </div>
      </div>
      <!--End row-->
    </div>
    <!--End button-->
  </div>
  <!--End about-->
</section>
