<section id="about" class="bgWhite ofsInBottom active" style="display: block">
  <!--About -->
  <div class="about">
    <!--Main title-->

    <div class="main-title">
      <h1>who am i</h1>
      <div class="divider">
        <div class="zigzag large clearfix" data-svg-drawing="yes">
          <svg
            xml:space="preserve"
            viewBox="0 0 69.172 14.975"
            width="37"
            height="28"
            y="0px"
            x="0px"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
          >
            <path
              d="M1.357,12.26 10.807,2.81 20.328,12.332
29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
              style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0"
            ></path>
          </svg>
        </div>
      </div>
    </div>

    <!--End main title-->

    <!--Content-->
    <div class="content">
      <!--Block content-->
      <div class="block-content margBSmall">
        <div class="profile margBSmall">
          <h1>Carlose smith</h1>
          <h3>Web designer / Web developer</h3>
        </div>

        <!--Row-->
        <div class="row">
          <div class="col-md-6">
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem.
            </p>
          </div>

          <div class="col-md-6">
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem.
            </p>
          </div>
        </div>
        <!--End row-->
      </div>
      <!--End block content-->

      <!--Block content-->
      <div class="block-content">
        <div class="info">
          <!--Row-->
          <div class="row">
            <div class="col-md-6">
              <ul class="info-list clearfix">
                <li>
                  <span class="inf">Name </span>
                  <span class="value">Carlose Smith</span>
                </li>
                <li>
                  <span class="inf">Date of birth</span>
                  <span class="value"> September 9, 1982 </span>
                </li>
                <li>
                  <span class="inf">Address</span>
                  <span class="value"> 1234 Street Road City Name</span>
                </li>
              </ul>
            </div>

            <div class="col-md-6">
              <ul class="info-list">
                <li>
                  <span class="inf">Email</span>
                  <span class="value">youremail@gmail.com</span>
                </li>
                <li>
                  <span class="inf">Phone</span>
                  <span class="value"> + 123 456 789 456 </span>
                </li>
                <li>
                  <span class="inf">Skype</span>
                  <span class="value">Carlose_Smith</span>
                </li>
              </ul>
            </div>
          </div>
          <!--End row-->
        </div>
      </div>
      <!--End block content-->
    </div>
    <!--End content-->

    <!--Main title-->

    <div class="main-title">
      <h1>professional skills</h1>
      <div class="divider">
        <div class="zigzag large clearfix" data-svg-drawing="yes">
          <svg
            xml:space="preserve"
            viewBox="0 0 69.172 14.975"
            width="37"
            height="28"
            y="0px"
            x="0px"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
          >
            <path
              d="M1.357,12.26 10.807,2.81 20.328,12.332
29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
              style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0"
            ></path>
          </svg>
        </div>
      </div>
    </div>

    <!--End main title-->

    <!--Content-->
    <div class="content">
      <!--Block content-->
      <div class="block-content margBMedium">
        <!--Skill design-->
        <div class="center">Skills</div>
        <!--End skill design-->
      </div>
      <!--End block content-->
    </div>
    <!--End content-->

    <!--Main title-->

    <div class="main-title">
      <h1>experience</h1>
      <div class="divider">
        <div class="zigzag large clearfix" data-svg-drawing="yes">
          <svg
            xml:space="preserve"
            viewBox="0 0 69.172 14.975"
            width="37"
            height="28"
            y="0px"
            x="0px"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
          >
            <path
              d="M1.357,12.26 10.807,2.81 20.328,12.332
29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
              style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0"
            ></path>
          </svg>
        </div>
      </div>
    </div>

    <!--End main title-->

    <!--Content-->
    <div class="content">
      <!--Block content-->
      <div class="block-content">
        <!--Timeline-->
        <div class="timeline experience">
          <!--Row-->
          <div class="row">
            <div class="col-md-12">
              <!--Experience holder-->
              <div class="exp-holder margTop">
                <!--Experience-->
                <div class="exp">
                  <div class="hgroup">
                    <h4>WebDesigner – Mutation Media</h4>
                    <h6>
                      <i class="icon-calendar"></i>Feb 2015 -
                      <span class="current">Current</span>
                    </h6>
                  </div>
                  <p>
                    Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in
                    reprehend incididunt labore et dolore magna aliqua. Ut enim
                    ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat inventore veritatis
                    et quasi architecto beatae vitae dicta sunt explicabo.
                  </p>
                </div>
                <!--End experience-->

                <!--Experience-->
                <div class="exp">
                  <div class="hgroup">
                    <h4>Web Developer – Mutation Media</h4>
                    <h6><i class="icon-calendar"></i>Sept 2015 - Nov 2015</h6>
                  </div>
                  <p>
                    Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in
                    reprehend incididunt labore et dolore magna aliqua. Ut enim
                    ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat inventore veritatis
                    et quasi architecto beatae vitae dicta sunt explicabo.
                  </p>
                </div>
                <!--End experience-->

                <!--Experience-->
                <div class="exp">
                  <div class="hgroup">
                    <h4>SDK Developer – Mutation Media</h4>
                    <h6><i class="icon-calendar"></i>May 2015 - Sept 2015</h6>
                  </div>
                  <p>
                    Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in
                    reprehend incididunt labore et dolore magna aliqua. Ut enim
                    ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat inventore veritatis
                    et quasi architecto beatae vitae dicta sunt explicabo.
                  </p>
                </div>
                <!--End experience-->
              </div>
              <!--End experience holder-->
            </div>
          </div>
          <!--End row-->
        </div>
        <!--End timeline-->
      </div>
      <!--End block content-->
    </div>
    <!--End content-->

    <!--Main title-->

    <div class="main-title">
      <h1>education</h1>
      <div class="divider">
        <div class="zigzag large clearfix" data-svg-drawing="yes">
          <svg
            xml:space="preserve"
            viewBox="0 0 69.172 14.975"
            width="37"
            height="28"
            y="0px"
            x="0px"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
          >
            <path
              d="M1.357,12.26 10.807,2.81 20.328,12.332
29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
              style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0"
            ></path>
          </svg>
        </div>
      </div>
    </div>

    <!--End main title-->

    <!--Content-->
    <div class="content">
      <!--Block content-->
      <div class="block-content">
        <!--Timeline-->
        <div class="timeline education">
          <!--Row-->
          <div class="row">
            <div class="col-md-12">
              <!--Experience holder-->
              <div class="exp-holder margTop">
                <!--Experience-->
                <div class="exp">
                  <div class="hgroup">
                    <h4>Bachelor Degree – Mutation Media</h4>
                    <h6><i class="icon-calendar"></i>Mar 2015 - May 2015</h6>
                  </div>
                  <p>
                    Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in
                    reprehend incididunt labore et dolore magna aliqua. Ut enim
                    ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat inventore veritatis
                    et quasi architecto beatae vitae dicta sunt explicabo.
                  </p>
                </div>
                <!--End experience-->

                <!--Experience-->
                <div class="exp">
                  <div class="hgroup">
                    <h4>Master Degree – Mutation Media</h4>
                    <h6><i class="icon-calendar"></i>Sept 2015 - Nov 2015</h6>
                  </div>
                  <p>
                    Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in
                    reprehend incididunt labore et dolore magna aliqua. Ut enim
                    ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat inventore veritatis
                    et quasi architecto beatae vitae dicta sunt explicabo.
                  </p>
                </div>
                <!--End experience-->

                <!--Experience-->
                <div class="exp">
                  <div class="hgroup">
                    <h4>School Of Science – Mutation Media</h4>
                    <h6><i class="icon-calendar"></i>May 2015 - Sept 2015</h6>
                  </div>
                  <p>
                    Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in
                    reprehend incididunt labore et dolore magna aliqua. Ut enim
                    ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat inventore veritatis
                    et quasi architecto beatae vitae dicta sunt explicabo.
                  </p>
                </div>
                <!--End experience-->
              </div>
              <!--End experience holder-->
            </div>
          </div>
          <!--End row-->
        </div>
        <!--End timeline-->
      </div>
      <!--End block content-->
    </div>
    <!--End content-->

    <!--Main title-->

    <div class="main-title">
      <h1>Technologies</h1>
      <div class="divider">
        <div class="zigzag large clearfix" data-svg-drawing="yes">
          <svg
            xml:space="preserve"
            viewBox="0 0 69.172 14.975"
            width="37"
            height="28"
            y="0px"
            x="0px"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
          >
            <path
              d="M1.357,12.26 10.807,2.81 20.328,12.332
29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
              style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0"
            ></path>
          </svg>
        </div>
      </div>
    </div>

    <!--End main title-->

    <!--Content-->
    <div class="content">
      <!--Block content-->
      <div class="block-content">
        <!--Services-->
        <div class="services">
          <!--Row-->
          <div class="row">
            <!--Block-->
            <div class="block service tCenter">
              <div class="col-md-4">
                <div class="ico">
                  <i class="icon-lifebuoy"></i>
                </div>

                <div class="det">
                  <h3>Great Support</h3>
                  <p>
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium.
                  </p>
                </div>
              </div>

              <div class="col-md-4">
                <div class="ico">
                  <i class="icon-print-1"></i>
                </div>

                <div class="det">
                  <h3>Print &amp; Branding</h3>
                  <p>
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium.
                  </p>
                </div>
              </div>

              <div class="col-md-4">
                <div class="ico">
                  <i class="icon-megaphone"></i>
                </div>

                <div class="det">
                  <h3>Marketing</h3>
                  <p>
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium.
                  </p>
                </div>
              </div>
            </div>
            <!--End block-->
          </div>
          <!--End row-->

          <!--Row-->
          <div class="row">
            <!--Divider-->
            <div class="divider-m tCenter margTSmall margBSmall clearfix">
              <div class="col-md-12">
                <div class="zigzag medium clearfix" data-svg-drawing="yes">
                  <svg
                    xml:space="preserve"
                    viewBox="0 0 69.172 14.975"
                    width="45"
                    height="5"
                    y="0px"
                    x="0px"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xmlns="http://www.w3.org/2000/svg"
                    version="1.1"
                  >
                    <path
                      d="M1.357,12.26 10.807,2.81 20.328,12.332
29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
                      style="
                        stroke-dasharray: 93.9851, 93.9851;
                        stroke-dashoffset: 0;
                      "
                    ></path>
                  </svg>
                </div>
              </div>
            </div>
            <!--End divider-->
          </div>
          <!--End row-->

          <!--Row-->
          <div class="row">
            <!--Block-->
            <div class="block service tCenter">
              <div class="col-md-4">
                <div class="ico">
                  <i class="icon-monitor"></i>
                </div>

                <div class="det">
                  <h3>Web Design</h3>
                  <p>
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium.
                  </p>
                </div>
              </div>

              <div class="col-md-4">
                <div class="ico">
                  <i class="icon-tools"></i>
                </div>

                <div class="det">
                  <h3>development</h3>
                  <p>
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium.
                  </p>
                </div>
              </div>

              <div class="col-md-4">
                <div class="ico">
                  <i class="icon-lamp"></i>
                </div>

                <div class="det">
                  <h3>Branding</h3>
                  <p>
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium.
                  </p>
                </div>
              </div>
            </div>
            <!--End block-->
          </div>
          <!--End row-->
        </div>
        <!--End servcices-->
      </div>
      <!--End block content-->
    </div>
    <!--End content-->


    <!--Button-->
    <div class="button margTop ofsInTop tCenter">
      <div class="divider">
        <div class="zigzag large clearfix" data-svg-drawing="yes">
          <svg
            xml:space="preserve"
            viewBox="0 0 69.172 14.975"
            width="37"
            height="28"
            y="0px"
            x="0px"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
          >
            <path
              d="M1.357,12.26 10.807,2.81 20.328,12.332
29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
              style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0"
            ></path>
          </svg>
        </div>
      </div>

      <!--Row-->
      <div class="row ">
        <div class="col-md-12">
          <a class="but opc-1 ico" href="#">Download my cv</a>
          <a class="but opc-2 ico" href="#">Print my resume</a>
        </div>
      </div>
      <!--End row-->
    </div>
    <!--End button-->
  </div>
  <!--End about-->
</section>
