<section id="about" class="bgWhite ofsInBottom active" style="display: block">
  <!--About -->
  <div class="about">
    <!--Main title-->

    <div class="main-title">
      <h1>who am i</h1>
      <div class="divider">
        <div class="zigzag large clearfix" data-svg-drawing="yes">
          <svg
            xml:space="preserve"
            viewBox="0 0 69.172 14.975"
            width="37"
            height="28"
            y="0px"
            x="0px"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
          >
            <path
              d="M1.357,12.26 10.807,2.81 20.328,12.332
29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
              style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0"
            ></path>
          </svg>
        </div>
      </div>
    </div>

    <!--End main title-->

    <!--Content-->
    <div class="content">
      <!--Block content-->
      <div class="block-content margBSmall">
        <div class="profile margBSmall">
          <h1>Eyad hisham</h1>
          <h3>Software Engineer</h3>
        </div>

        <!--Row-->
        <div class="row">
          <div class="col-md-6">
            <p>
              I'm a Software Engineer, I worked in many development roles such
              as developer, business analyst, project manager, product owner and
              even account manager. I created many commercial apps in wide
              variety of platforms/industries/domains. I have built 6+
              commercial mobile apps, 200+ Photoshop scripts and 7+ commercial
              web systems.
            </p>
          </div>

          <div class="col-md-6">
            <p>
              If you have the link to this online cv, this probably means i am
              looking for a job in any of the following position. Flutter lead
            </p>
          </div>
        </div>
        <!--End row-->
      </div>
      <!--End block content-->

      <!--Block content-->
      <div class="block-content">
        <div class="info">
          <!--Row-->
          <div class="row">
            <div class="col-md-6">
              <ul class="info-list clearfix">
                <li>
                  <span class="inf">Name </span>
                  <span class="value">Eyad Hisham</span>
                </li>
                <li>
                  <span class="inf">Date of birth</span>
                  <span class="value"> January 10, 1996 </span>
                </li>
                <li>
                  <span class="inf">Address</span>
                  <span class="value"> Nasr city - Cairo - Egypt</span>
                </li>
              </ul>
            </div>

            <div class="col-md-6">
              <ul class="info-list">
                <li>
                  <span class="inf">Email</span>
                  <span class="value">eyadhisham@gmail.com</span>
                </li>
                <li>
                  <span class="inf">Phone</span>
                  <span class="value"> +20 11 000 990 39 </span>
                </li>
                <li>
                  <span class="inf">Discord</span>
                  <span class="value">Eyad#5389</span>
                </li>
              </ul>
            </div>
          </div>
          <!--End row-->
        </div>
      </div>
      <!--End block content-->
    </div>
    <!--End content-->

    <!--Main title-->

    <div class="main-title">
      <h1>Technologies I use</h1>
      <div class="divider">
        <div class="zigzag large clearfix" data-svg-drawing="yes">
          <svg
            xml:space="preserve"
            viewBox="0 0 69.172 14.975"
            width="37"
            height="28"
            y="0px"
            x="0px"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
          >
            <path
              d="M1.357,12.26 10.807,2.81 20.328,12.332
29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
              style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0"
            ></path>
          </svg>
        </div>
      </div>
    </div>

    <!--End main title-->

    <!--Content-->
    <div class="content pb-0">
      <!--Block content-->
      <div class="block-content">
        <!--Services-->
        <div class="services">
          <!--Row-->
          <div class="row">
            <!--Block-->
            <div class="block service tCenter">
              <ng-container *ngFor="let tech of technologies; let i = index">
                <div
                  class="col-md-4 d-flex justify-content-center flex-column align-items-center"
                >
                  <div class="ico">
                    <img [src]="tech.icon" alt="" />
                  </div>

                  <div class="det">
                    <h3>{{ tech.name }}</h3>
                    <p>
                      {{ tech.desc }}
                    </p>
                  </div>
                </div>
              </ng-container>
            </div>
            <!--End block-->
          </div>
          <!--End row-->
        </div>
        <!--End servcices-->
      </div>
      <!--End block content-->
    </div>
    <!--End content-->

    <!--Main title-->

    <div class="main-title pt-0">
      <h1>experience</h1>
      <div class="divider">
        <div class="zigzag large clearfix" data-svg-drawing="yes">
          <svg
            xml:space="preserve"
            viewBox="0 0 69.172 14.975"
            width="37"
            height="28"
            y="0px"
            x="0px"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
          >
            <path
              d="M1.357,12.26 10.807,2.81 20.328,12.332
29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
              style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0"
            ></path>
          </svg>
        </div>
      </div>
    </div>

    <!--End main title-->

    <!--Content-->
    <div class="content ">
      <!--Block content-->
      <ng-container *ngFor="let experience of experience">
        <div class="block-content mb-4">
          <!--Timeline-->
          <div class="timeline experience">
            <!--Row-->
            <div class="row">
              <div class="col-md-12">
                <div class="company">
                  <h4>{{ experience.company }}</h4>
                  <h6>{{ experience.duration }}</h6>
                </div>
                <!--Experience holder-->
                <div class="exp-holder margTop">
                  <!--Experience-->
                  <ng-container *ngFor="let activity of experience.activities">
                    <div class="exp">
                      <div class="hgroup">
                        <h4>{{ activity.title }}</h4>
                      </div>
                      <p>
                        {{ activity.desc }}
                      </p>
                    </div>
                  </ng-container>
                  <!--End experience-->
                </div>
                <!--End experience holder-->
              </div>
            </div>
            <!--End row-->
          </div>
          <!--End timeline-->
        </div>
      </ng-container>
      <!--End block content-->
    </div>
    <!--End content-->

    <!--Main title-->

    <div class="main-title">
      <h1>education</h1>
      <div class="divider">
        <div class="zigzag large clearfix" data-svg-drawing="yes">
          <svg
            xml:space="preserve"
            viewBox="0 0 69.172 14.975"
            width="37"
            height="28"
            y="0px"
            x="0px"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
          >
            <path
              d="M1.357,12.26 10.807,2.81 20.328,12.332
29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
              style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0"
            ></path>
          </svg>
        </div>
      </div>
    </div>

    <!--End main title-->

    <!--Content-->
    <div class="content">
      <!--Block content-->
      <div class="block-content">
        <!--Timeline-->
        <div class="timeline education">
          <!--Row-->
          <div class="row">
            <div class="col-md-12">
              <!--Experience holder-->
              <div class="exp-holder margTop">
                <!--Experience-->
                <div class="exp">
                  <div class="hgroup">
                    <h4>Bachelor Degree – Computer science</h4>
                    <h6><i class="icon-calendar"></i>2013 - 2017</h6>
                  </div>
                  <p>
                    Higher Technological Institute
                    <br />
                    GPA: 3.0
                  </p>
                </div>
                <!--End experience-->
              </div>
              <!--End experience holder-->
            </div>
          </div>
          <!--End row-->
        </div>
        <!--End timeline-->
      </div>
      <!--End block content-->
    </div>
    <!--End content-->

    <!--Button-->
    <div class="button margTop ofsInTop tCenter">
      <div class="divider">
        <div class="zigzag large clearfix" data-svg-drawing="yes">
          <svg
            xml:space="preserve"
            viewBox="0 0 69.172 14.975"
            width="37"
            height="28"
            y="0px"
            x="0px"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
          >
            <path
              d="M1.357,12.26 10.807,2.81 20.328,12.332
29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
              style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0"
            ></path>
          </svg>
        </div>
      </div>

      <!--Row-->
      <div class="row">
        <div class="col-md-12">
          <a href="#" class="animated-button1" (click)="downloadFile()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Download my cv
          </a>
        </div>
      </div>
      <!--End row-->
    </div>
    <!--End button-->
  </div>
  <!--End about-->
</section>
