
.bgWhite,.contact {
  background: #ffffff;
  padding-bottom: 40px;
}
.ofsInBottom {
  padding-bottom: 60px !important;
}
.main-title {
	border-bottom: 1px solid #efefef;
	padding: 30px 10px 2px 40px;
	position: relative;
}
.main-title h1 {
	font-family: 'open_sansextrabold',Arial,sans-serif;
}
.main-title .divider {
	left: 30px;
	position: absolute;
	top: 50px;
}
.content {
	padding: 40px;
}
.margBSmall {
	margin-bottom: 30px !important;
}
.margTSmall {
	margin-top: 30px !important;
}
.info ul.info-list {
	border: 1px solid #efefef;
	text-align: center;
}
.info ul.info-list li {
	border-bottom: 1px solid #efefef;
	background: #fafafa;
	font-size: 14px;
}
.info ul.info-list li .inf {
	width: 35%;
	background: #ffffff;
	left: -1px;
	position: relative;
	border-right: 1px solid #efefef;
	color: #333333;
}
.info ul.info-list li .value {
	width: 63%;
	color: #666666;
}
.info ul.info-list li .inf, .info ul.info-list li .value {
	display: inline-block;
	padding: 8px 0;
}

// Experience section
.exp {
	padding-left: 50px;
	padding-top: 20px;
	position: relative;
	margin-bottom: 10px;
}
.exp .hgroup {
	margin-bottom: 5px;
}
.exp .hgroup h4 {
	text-transform: none;
}
.exp .hgroup h6 {
	text-transform: none;
	font-size: 12px;
	color: #666666;
}
.exp .hgroup h6 i {
	color: #cccccc;
	margin-right: 5px;
}
.exp .hgroup h6 span.current {
	background: #cd5353;
}
.exp .hgroup h6 span.current {
	color: #ffffff;
	background: #cd5353;
	border-radius: 6px;
	padding: 1px 12px;
}
.timeline {
	position: relative;
}
.timeline::before {
	background: #ededed;
	background: -moz-linear-gradient(top, #ededed 1%, #ededed 75%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ededed), color-stop(75%,#ededed), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top, #ededed 1%,#ededed 75%,#ffffff 100%);
	background: -o-linear-gradient(top, #ededed 1%,#ededed 75%,#ffffff 100%);
	background: -ms-linear-gradient(top, #ededed 1%,#ededed 75%,#ffffff 100%);
	background: linear-gradient(to bottom, #ededed 1%,#ededed 75%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 );
	bottom: 0;
	content: "";
	left: 18px;
	position: absolute;
	top: 0;
	width: 3px;
	height: 100%;
}
.timeline.experience::after {
	content: '\e8ba';
}
.timeline::after {
	background: #ffffff;
	border: 3px solid #efefef;
	font-family: 'fontello';
	top: 0;
	left: -5px;
	width: 50px;
	height: 50px;
	position: absolute;
	text-align: center;
	color: #333333;
	font-size: 20px;
	line-height: 45px;
}
.margTop {
	margin-top: 60px !important;
}
.tCenter {
	text-align: center;
}
.but.opc-1.ico, .but.opc-2.ico, .but.opc-3.ico {
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: relative;
}
.but.opc-1 {
	background: #33373d;
}
.but.ico {
	padding: 8px 25px 8px 45px;
}
.but.opc-1.ico::before, .but.opc-1.ico::after {
	content: '\e864';
}
.but.opc-1.ico::before, .but.opc-1.ico::after, .but.opc-2.ico::before, .but.opc-2.ico::after, .but.opc-3.ico::before, .but.opc-3.ico::after {
	position: absolute;
	left: 15px;
	padding: 0 1px;
	font-family: 'fontello';
	font-size: 15px;
}
.but.opc-1.ico::after, .but.opc-2.ico::after, .but.opc-3.ico::after {
	opacity: 0;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.but.opc-1.ico::before, .but.opc-1.ico::after {
	content: '';
}
.but.opc-2 {
	background: #cd5353;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
.but {
	padding: 8px 25px;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 12px;
	display: inline-block;
}

.ofsInTop {
	padding-top: 60px !important;
}
.ofsInTop {
	padding-top: 60px !important;
}
.button {
	position: relative;
}
.main-title h1 {
	font-size: 15px;
}
.main-title h1 {
	margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6 {
	color: #333333;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.button::before {
	background: #efefef;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.button .divider {
	left: 0;
	width: 100%;
	position: absolute;
	top: -13px;
	text-align: center;
}
.divider-m {
	position: relative;
}

.divider-m::before {
	background: #efefef;
	content: "";
	height: 1px;
	left: 50%;
	margin-left: -60px;
	position: absolute;
	top: 13px;
	width: 120px;
}
.divider-m .zigzag.medium, .divider .zigzag.large {
	stroke: #cd5353;
}
.divider-m .zigzag.medium, .divider .zigzag.large {
	stroke: #cd5353;
	stroke-width: 4.3;
}
.zigzag.medium {
	width: 6%;
	margin: 0 auto;
}
.zigzag.large, .zigzag.medium {
	background: #ffffff;
}
.zigzag {
	fill: none;
	stroke-miterlimit: 10;
	stroke-width: 3.7;
}
svg:not(:root) {
	overflow: hidden;
}

.button .zigzag.large {
	position: absolute;
	left: 50%;
	margin-left: -28px;
}
.zigzag.large {
	padding: 0 10px;
}
.zigzag.large, .zigzag.medium {
	background: #ffffff;
}

.info-holder {
	border: 1px solid #efefef;
	padding: 20px;
	text-align: center;
  position: relative;;
}
.margTMedium {
	margin-top: 40px !important;
}
.address-info {
	font-size: 14px;
	text-align: center;
}
.address-info i {
	background: #cd5353;
}
.address-info i {
	background: #cd5353;
	color: #ffffff;
	display: inline-block;
	font-size: 28px;
	height: 90px;
	left: 50%;
	line-height: 60px;
	margin-left: -50px;
	position: absolute;
	top: -50px;
	width: 90px;
	border: 15px solid #ffffff;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
.address-info p {
	color: #2d2d2d;
	font-size: 18px;
	padding-bottom: 40px;
	padding-top: 40px;
	line-height: 30px;
}
.icon-location::before {
	content: '\e83b';
}
[class^="icon-"]::before, [class*=" icon-"]::before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	/* font-size: 120%; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.social li a, .timeline::after, .exp::after, .spinner, .spinner::after, .address-info .ico-back, .contact-info li .ico, .contact-info li .ico-back, .spinner, .block-quote .block-img img, .block-quote .block-icon, .block-nav-work li a, .address-info i, .contact-form form input[type="submit"], form, .comments .author-img, .pagination, .get-cv h3, .dt-ico, .tag, .author, .content-title, .contact-form input[type="text"], .contact-form textarea, .reply-form input[type="text"], .reply-form textarea, .map-btn a, .testi img, .title-icon, .dt-ico span.ico, .comments .author-img img, .testi p, .serv-ico .icon, .interest, .column, .top a, .experience .experience-single .date, .info-list h4, .info-list h4::before, .testi-profile img, .testi-profile, .experience .experience-single .exp-icon, .exp-icon::before {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.social li a, .timeline::after, .exp::after, .spinner, .spinner::after, .address-info .ico-back, .contact-info li .ico, .contact-info li .ico-back, .spinner, .block-quote .block-img img, .block-quote .block-icon, .block-nav-work li a, .address-info i {
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
}
.contact-info ul {
	padding-bottom: 25px;
}
.contact-info li {
	display: inline-block;
	position: relative;
	width: 200px;
}
.contact-info li .ico {
	background: #33373d;
	color: #ffffff;
	font-size: 20px;
	height: 80px;
	left: 50%;
	line-height: 52px;
	margin-left: -36px;
	position: absolute;
	top: 28px;
	width: 80px;
	border: 15px solid #ffffff;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.margBSSmall {
	margin-bottom: 20px !important;
}
.contact-form, .reply-form {
	position: relative;
}
.input-columns .column1, .input-columns .column2 {
	float: left;
	width: 50%;
}
.input-columns .column1 .column-inner {
	padding: 0 15px 0 0;
}
.contact-form input[type="text"], .contact-form textarea, .reply-form input[type="text"], .reply-form textarea {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 1px solid #efefef;
	color: #666666;
	font-size: 13px;
	margin: 0 0 14px;
	outline: 0 none;
	overflow: hidden;
	padding: 10px 15px;
	resize: none;
	width: 100%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	font-family: "open_sansregular",Arial,sans-serif;
}
.input-columns .column1, .input-columns .column2 {
	float: left;
	width: 50%;
}
.contact-form input[type="text"], .contact-form textarea, .reply-form input[type="text"], .reply-form textarea {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 1px solid #efefef;
	color: #666666;
	font-size: 13px;
	margin: 0 0 14px;
	outline: 0 none;
	overflow: hidden;
	padding: 10px 15px;
	resize: none;
	width: 100%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	font-family: "open_sansregular",Arial,sans-serif;
}
#success, #error {
	display: none;
	position: relative;
}
#success h2, #error h2 {
	color: #33373d;
	font-size: 11px;
	left: 0;
	position: absolute;
	text-transform: none;
	top: 0;
}
.but.opc-2 {
	background: #cd5353;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
.contact-form textarea, .reply-form textarea {
	color: #666666;
	width: 100%;
	font-family: "open_sansregular",Arial,sans-serif;
}
.contact-form .submit:hover, .reply-form .submit:hover {
	background: #33373d;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
.contact-form .submit, .reply-form .submit {
	bottom: -15px;
	cursor: pointer;
	position: absolute;
	right: 45px;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	border: 15px solid #ffffff;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
a, input[type="text"], textarea, nav.main-nav ul, .lines::before, .contact-form .submit, .reply-form .submit, .item a .desc, .owl-page span {
	transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}


