<!--Contact -->
<section id="contact" class="bgWhite ofsInBottom active" style="display: block; position: static; visibility: visible;">
  <div class="contact">
  <!--Main title-->

  <div class="main-title">
    <h1>contact info</h1>
    <div class="divider">
      <div class="zigzag large clearfix" data-svg-drawing="yes">
        <svg
          xml:space="preserve"
          viewBox="0 0 69.172 14.975"
          width="37"
          height="28"
          y="0px"
          x="0px"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
        >
          <path
            d="M1.357,12.26 10.807,2.81 20.328,12.332
							29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
            style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0"
          ></path>
        </svg>
      </div>
    </div>
  </div>

  <!--End main title-->

  <!--Content-->
  <div class="content">
    <!--Block content-->
    <div class="block-content">
      <!--Info-->
      <div class="block-info">
        <!--Row-->
        <div class="row">
          <div class="col-md-12">
            <div class="info-holder margTMedium">
              <!--Address info-->
              <div class="address-info">
                <i class="icon-location"></i>
                <p>
                  The Company Name Inc.1234 Street Road <br />City Name,IN 567
                  890.
                </p>
              </div>
              <!--End address info-->

              <!--Contact info-->
              <div class="contact-info tCenter">
                <ul>
                  <li>
                    <div class="ico"><i class="icon-mail"></i></div>
                    <p>Email : name@gmail.com</p>
                  </li>
                  <li>
                    <div class="ico"><i class="icon-phone"></i></div>
                    <p>Tel : + 123-456-789</p>
                  </li>
                  <li>
                    <div class="ico"><i class="icon-link"></i></div>
                    <p>WebSite : <a href="#">www.yoursite.com</a></p>
                  </li>
                </ul>
              </div>
              <!--End contact info-->
            </div>
          </div>
        </div>
        <!--End row-->
      </div>
      <!--End info-->
    </div>
    <!--End block content-->
  </div>
  <!--End content-->

  <!--Main title-->

  <div class="main-title">
    <h1>send me an email</h1>
    <div class="divider">
      <div class="zigzag large clearfix" data-svg-drawing="yes">
        <svg
          xml:space="preserve"
          viewBox="0 0 69.172 14.975"
          width="37"
          height="28"
          y="0px"
          x="0px"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
        >
          <path
            d="M1.357,12.26 10.807,2.81 20.328,12.332
					29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
            style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0"
          ></path>
        </svg>
      </div>
    </div>
  </div>

  <!--End main title-->

  <!--Content-->
  <div class="content">
    <!--Block content-->
    <div class="block-content">
      <!--Contact-->
      <div class="block-contact margBSSmall">
        <!--Row-->
        <div class="row">
          <div class="col-md-12">
            <form class="contact-form" method="post" action="send.php">
              <!--Input columns-->
              <div class="input-columns clearfix">
                <div class="column1">
                  <div class="column-inner">
                    <input
                      type="text"
                      placeholder="Name"
                      value=""
                      id="name"
                      name="name"
                    />
                  </div>
                </div>

                <!--Column-->
                <div class="column2">
                  <div class="column-inner">
                    <input
                      type="text"
                      placeholder="Email"
                      value=""
                      id="email"
                      name="email"
                    />
                  </div>
                </div>
                <!--End column-->
              </div>
              <!--End input columns-->

              <input
                type="text"
                placeholder="Subject"
                value=""
                id="subject"
                name="subject"
              />
              <textarea
                name="message"
                placeholder="Message"
                id="message"
                cols="45"
                rows="10"
              ></textarea>
              <input
                type="submit"
                value="send your email"
                class="but opc-2 submit"
              />
            </form>

            <!--Contact form message-->
            <div id="success">
              <h2>Your message has been sent. Thank you!</h2>
            </div>
            <div id="error"><h2>Sorry your message can not be sent.</h2></div>
            <!--End contact form message-->
          </div>
        </div>
        <!--End row-->
      </div>
      <!--End contact-->
    </div>
    <!--End block content-->
  </div>
  <!--End content-->

  <!--Button-->
  <div class="button ofsInTop tCenter">
    <div class="divider">
      <div class="zigzag large clearfix" data-svg-drawing="yes">
        <svg
          xml:space="preserve"
          viewBox="0 0 69.172 14.975"
          width="37"
          height="28"
          y="0px"
          x="0px"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
        >
          <path
            d="M1.357,12.26 10.807,2.81 20.328,12.332
				29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
            style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0"
          ></path>
        </svg>
      </div>
    </div>

    <!--Row-->
    <div class="row">
      <div class="col-md-12">
        <a class="but opc-1 ico" href="#">Download my cv</a>
        <a class="but opc-2 ico" href="#">Print my resume</a>
      </div>
    </div>
    <!--End row-->
  </div>
  <!--End button-->
</div>
</section>
<!--End contact-->
